.userId{
  width: 300px;
  margin-top: 30px;
  margin-left: 50px;
}

.password{
  width: 300px;
  margin-top: 30px;
  margin-left: 50px;
}

.loginCard{
  width: 400px;
  color: black;
}

.button{
  margin-left: 100px;
  margin-top: 20px;
}
